<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devdiv.vca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VCA">
        <activity
            android:name=".Activities.TestActivity"
            android:exported="true" >



        </activity>
        <activity
            android:name=".Activities.ActivityEditProfile"
            android:exported="true" />
        <activity
            android:name=".Activities.ActivityPredictedPlayer"
            android:exported="true" />
        <activity
            android:name=".Activities.ActivityMySquad"
            android:exported="true" />
        <activity android:name=".Activities.ActivityUpdatePassword" />
        <activity android:name=".Activities.ActivityForgetPassword" />
        <activity android:name=".Activities.ActivityOtp" />
        <activity android:name=".Activities.ActivityLogin" />
        <activity android:name=".Activities.ActivitySplash">

        </activity>
        <activity android:name=".Activities.MainActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>